<h1>List of Movies</h1>

<a href="/movies/new">Add a new Movie</a>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Year</th>
    <th>Duration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @movies.each do |movie| %>
  <tr>
    <td>
      <img src="<%= movie.image_url %>" width="50">
    </td>
    <td>
      <a href="/movies/<%= movie.id %>"><%= movie.title %></a>
    </td>
    <td><%= movie.year %></td>
    <td><%= movie.duration %></td>
    <td><a href="/movies/<%= movie.id %>">Show</a></td>
    <td><a href="/movies/<%= movie.id %>/edit">Edit</a></td>
    <td><a href="/delete_movie/<%= movie.id %>">Delete</a></td>
  </tr>
<% end %>
</table>
