<h1>Movie Details</h1>

<a href="/movies/<%= @movie.id %>/edit">Edit</a>
<a href="/delete_movie/<%= @movie.id %>">Delete</a>

<dl>
  <dt>Title</dt>
  <dd><%= @movie.title %></dd>

  <dt>Year</dt>
  <dd><%= @movie.year %></dd>

  <dt>Duration</dt>
  <dd><%= @movie.duration %></dd>

  <dt>Description</dt>
  <dd><%= @movie.description %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @movie.image_url %>" width="200"></dd>

</dl>
